/* built-in */

body {
	background-color: #000000;
	background-image: url(bg.png);
	background-position: left bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	border: 0;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {font-weight: 600; }

td { padding: 5px 10px; text-align: center; }

table { width: 100%; }

a, a:hover, a:visited, a:active {color: #FFFFFF; text-decoration: none;}

table.form { width: 100%; }
table.form th {font-size: 120%; font-variant: small-caps; text-align: right; width: 40%;}
table.form td {text-align: left; width: 60%;}
table.form td input {border: 1px solid #FFFFFF; background-color: #333333; padding:3px 5px; color: #FFFFFF;}

/* ids */

#mapmenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #660000;
	padding: 10px 30px;
	font-variant:small-caps;
	font-size: 18px;
}

#header {
	width: 100%;
	height: 320px;
}

#header_l {
	float: left;
	height: 320px;
	width: 700px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
}

#header_r {
	position: absolute;
	top: 0px;
	right: 0px;
	/*
	width: 180px;
	height: 180px;
	*/
	width: 320px;
	height: 300px;
	margin: 0;
	/*margin: 70px 20px 0 0;*/
	background-image: url(cables.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#ticker {
	text-align: center;
	margin: 20px 50px 0 50px;
}

#nav_menu {
	width: 100%;
	height: 50px;
}

#nav_menu ul li {
	display: inline;
	font-variant:small-caps;
	font-size: 18px;
}

#nav_menu ul li a{
	display: inline-block;
	width: 120px;
	height: 50px;
	padding: 15px 0;
	text-align: center;
	border: 1px solid transparent;
}

#nav_menu ul li a:hover {
	color: #FFFFFF;
        background-color: transparent;
        text-decoration: none;
	background-image: url(button.png);
	background-repeat: no-repeat;
	background-position: center top;
	/*border: 1px solid #FFFFFF;*/
}

#nav_menu ul{
	display: inline;
	text-align: left;
	margin: 0;
	padding: 0 20px;
	height: 20px;
	width: 100%;
	background-color: #220000;
}

#sub_nav_menu {
	width: 100%;
}

#sub_nav_menu ul {
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
	background-color: #222222;
}

#sub_nav_menu ul li {
	display: inline;
	margin: 0;
	font-variant:small-caps;
	font-size: 14px;
	list-style-type: none;
}

#sub_nav_menu ul li a {
	display: inline;
	padding: 5px 10px;
	color: #FFFFFF;
	/*border: 1px solid #000000;*/
}

#sub_nav_menu ul li a:hover {
	background-color: #666666;
        border: none;
	/*border: 1px solid #FFFFFF;*/
}

#sub_nav_menu ul{
	display: block;
	text-align: left;
}

#content {
	padding: 30px;
	margin-right: 250px;
	height: 100%;
	border-right: 1px #FFFFFF solid;
}

#sidebar {
	position: absolute;
	top: 334px;
	right: 0;
	width: 230px;
	padding: 10px;
	border-left: 1px #FFFFFF solid;
}

#nav_login{
	font-size: 10px;
	height: 200px;
}

#innercontent {
	padding-left: 20px;
}

.userwidget {
	line-height: 1.5em;
	text-align: center;
}

.userwidget h3 {
	font-variant: small-caps;
	width: 200px;
	/*background-color: #220000;*/
	background-image: url(header.png);
	background-repeat: no-repeat;
	background-position: center center;
        text-align: left;
	padding: 7px 0 0 20px;
	font-size: 160%;
	height: 30px;
}

#scrollingText
{
	text-align: left;
	margin: 0;
	width: 100%;
	height: 16px;
	background-color: #111111;
	color: #FFFFFF;
}

#scrollingText div.scrollableArea *
{
	display: inline;
	margin: 0;
	padding: 2px 0px 0px 0px;
	font-size:12px; 
	font-weight: normal; 
	background-color: #111111;
	color: #FFFFFF;	
	width: auto;
	height: auto;
}

/* classes */

.disclaimer {
	font-size: 12px;
	font-variant:small-caps;
	text-align: center;
}

.disclaimer a{
	font-weight: bold;
}

.news_title {
	font-variant:small-caps;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 5px;
}

.news_meta {
	font-size: 11px;
	font-variant:small-caps;
	padding-left: 15px;
}

.news_content {
	margin-top: 25px;
	padding: 0 30px 30px 30px;
}

.slideshow {
	border: 1px solid #FFFFFF;
	width: 640px;
	height: 480px;
}

.login_input {
	background-color: #666666;
	color: #DDDDDD;
	border: #DDDDDD 1px solid;
	font-size: 10px;
}

.login_submit {
	background-color: #333333;
	color: #EEEEEE;
	font-variant:small-caps;
	border: #EEEEEE 1px solid;
        font-size: 150%;
        padding: 0 20px;
        
}

.avatar {
	float: left;
	width: 256px;
	height: 300px;
	text-align: center;
}

.acct {
	height: 620px;
	padding: 0 20px;
}

.acct_avatar {
	position: absolute;
	top: 500px;
	left: 40px;
	width: 128px;
	height: 160px;
	text-align: center;
}

.acct_info {
        position: relative;
	margin: 0px;
        margin-left: 140px;
}

.blurb {
	float: left;
	font-size: 14px;
	margin-left: 20px;
}

.profile {
	height: 350px;
	padding: 0 20px;
}

.infoheader, .title {
	font-variant: small-caps;
        border-top: 1px solid transparent;
	border-bottom: 1px solid #DDDDDD;
	padding-left: 10px;
}

.infoheader a, .title a {
	border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
}

.infoheader a:hover, .title a:hover {
	border-bottom: 1px solid transparent;
        border-top: 1px solid white;
        background-color: transparent;
}

h1.title {padding-top: 10px; margin-top: 0;}

.infoheader { padding-left: 20px; }

.events li, .eventinfo li {
	display: block;
	/*border: 1px #FFFFFF solid; */
}

.eventtitle {
	font-variant: small-caps;
	border-bottom: 1px solid #DDDDDD;
}

.eventsort {
	font-variant: small-caps;
	padding: 0 40px;
}

.uwinput {
	border: 1px solid #FFFFFF;
	font-size: 10px;
	width: 100px;
	background-color: #333333;
	color: #FFFFFF;
	padding: 2px;
}

.uwsubmit {
	border: 1px solid #CCCCCC;
	font-size: 14px;
	width: 100px;
	font-variant: small-caps;
	background-color: #333333;
	color: #FFFFFF;
}

.padded {
	padding: 0 10px;
}

.error {
    padding: 10px;
    font-variant: small-caps;
    font-weight: bold;
    font-size:150%;
    color:#F00;
    text-align: center;
}

.link, .link:hover, .link:visited, .link:active { color: inherit; text-decoration: none; padding-left: 5px; padding-right: 5px;}
.link:hover { border-bottom: 1px solid white; }

.nav_text {
    float: right;
    font-weight: 600;
    font-size: 24px;
    font-variant: small-caps;
}

table.table_list {
	border-collapse: collapse;
}

table.table_list th {
	font-size: 150%;
	font-variant: small-caps;
	border: 1px solid white;
	background-color: #220000;
        font-weight: normal;
        padding: 10px;
}

table.table_list td {
	border: 1px #666666 solid;
}

table.table_list_left {
	border-collapse: collapse;
}

table.table_list_left th {
	font-size: 150%;
	font-variant: small-caps;
	border: 1px solid white;
	background-color: #220000;
        font-weight: normal;
        padding: 10px;
        width: 30%;
}

table.table_list_left td {
	border: 1px #666666 solid;
        text-align: left;
}

.map_nav_right{
    position: absolute;
    top: 10px;
    right: 70px;
}

.float_right {
    float:right;
}
