IndexIgnore common/*
IndexIgnore content/*

RewriteEngine on

#RewriteRule profile/([a-zA-Z0-9_]+)/?$                                     page/index.php?page=profile&username=$1 [L]
#RewriteRule profile/?$                                                     page/index.php?page=profile [L]
#RewriteRule team/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/?$        page/index.php?page=team&team=$1&action=$2&target=$3 [L]
#RewriteRule team/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/?$                        page/index.php?page=team&team=$1&action=$2 [L]
#RewriteRule team/([a-zA-Z0-9_]+)/?$                                        page/index.php?page=team&team=$1 [L]
#RewriteRule team/?$                                                        page/index.php?page=team [L]
#RewriteRule match/([0-9]+)/?$                                              page/index.php?page=match&match=$1 [L]
#RewriteRule match/?$                                                       page/index.php?page=match [L]
#RewriteRule tournament/([a-zA-Z0-9_]+)/?$                                  page/index.php?page=tournament&tournament=$1 [L]
#RewriteRule tournament/?$                                                  page/index.php?page=tournament [L]
#RewriteRule event/([a-zA-Z0-9_]+)/reserve/([a-zA-Z0-9_]+)/?$               page/index.php?page=event&event=$1&action=reserve&reserve=$2 [L]
#RewriteRule event/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/?$                       page/index.php?page=event&event=$1&action=$2 [L]
#RewriteRule event/([a-zA-Z0-9_]+)/?$                                       page/index.php?page=event&event=$1 [L]
#RewriteRule event/?$                                                       page/index.php?page=event [L]
#RewriteRule account/([a-zA-Z0-9_]+)/([a-fA-F0-9]+)/?$                      page/index.php?page=account&action=$1&c=$2 [L]
#RewriteRule account/([a-zA-Z0-9_]+)/?$                                     page/index.php?page=account&action=$1 [L]
#RewriteRule account/?$                                                     page/index.php?page=account [L]
#RewriteRule admin/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/?$                       page/index.php?page=admin&action=$1&item=$2 [L]
#RewriteRule admin/([a-zA-Z0-9_]+)/?$                                       page/index.php?page=admin&action=$1 [L]
#RewriteRule admin/?$                                                       page/index.php?page=admin [L]
#RewriteRule extra/img/tournament/([0-9]+).png$                             common/widgets/php/tournament.img.php?$tid=$1 [L]
#RewriteRule extra/img/map/([0-9]+)_thumbnail.png$                          common/widgets/php/map.img.php?eid=$1&thumbnail=1 [L]
#RewriteRule extra/img/map/([0-9]+).png$                                    common/widgets/php/map.img.php?eid=$1 [L]
#RewriteRule extra/img/location/([a-zA-Z0-9_]+).png$                        common/widgets/php/location.img.php?event=$1 [L]
#RewriteRule extra/xml/slideshow.xml$                                       common/widgets/php/slideshow.xml.php [L]
#RewriteRule post/?$                                                        common/post.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .                                                               index.php [L]